@page
@model ML.NET.Views.Shared.IndexModel
@{
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-text mx-3">ML Dashboard</div>
    </a>
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" asp-controller="Predict" asp-action="Index">
            <span>即時預測</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="History" asp-action="Index">
            <span>歷史趨勢</span>
        </a>
    </li>
    <!-- 依需要再加 -->
</ul>
